/*
Grey Text Hex = 262626
Green background & "select" status Hex Color: 9BB73B
Yellow Hex Color = EEBD1C
Grey color hex = cccccc
Dark Grey Hex = 262626
Red Text Hex Color = DA291C
Dark red button color Hex = 440d09
Yellow/Amber Text Hex Color = EEBD1C
*/
body {
  position: relative;

  padding-bottom: 275px;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 40px;

  color: #fff;
  background: rgb(138, 138, 138);
}
header {
  padding-top: 30px;
}
img.logo {
  display: block;
  float: left;

  width: auto;
  height: 40px;
}
header h1 {
  font-size: 30px;
  line-height: 48.9px;

  float: left;

  height: 80px;
  margin: 0;
  padding: 0;
}
header h1::before {
  display: block;
  float: left;

  margin: 0 5px;

  content: '|';
}
header div.lead {
  font-weight: 700;

  float: none;
  clear: both;

  margin: 10px 0;
  margin-bottom: 30px;
  padding: 19px;

  color: rgb(255, 255, 255);
  background: #9bb73b; /* Green */
}
header div.lead p.lead {
  color: #262626;
}
.list-group-item {
  margin: 0;
  padding: 25px 0 15px 0;

  border: none;
  border-bottom: 1px solid #ccc;
}
.list-group-item::after {
  clear: both;
  content: '';
  display: table;
}
.question > label {
  display: flex;

  margin-right: 50px;
}
.question label {
  padding-left: 0;
}
.question > div label {
  text-transform: uppercase;
}
.question label .question-index {
  font-weight: 700;

  margin-right: 20px;
}
.question label .question-index::after {
  content: '.';
}
.question label .question-text {
  font-weight: 400;
}

button.btn-success {
  font-weight: 700;

  margin-left: 65px;

  text-transform: uppercase;

  color: #eebd1c;
  background-color: #fff;
  border: 3px solid #EEBD1C;
}
input[type='radio'] {
  display: none;
}

input[type='radio'] + label span.radio-toggle {
  display: inline-block;

  width: 13px;
  height: 13px;

  cursor: pointer;
  vertical-align: middle;

  -moz-border-radius: 50%;
       border-radius: 50%;
}
input[type='radio'] + label span.radio-toggle {
  margin: -2px 9px 0 30px;

  border: 1px solid #333;
  background-color: #fff;
}

input[type='radio']:checked + label span.radio-toggle {
  background-color: #9bb73b;
}

input[type='radio'] + label span.radio-toggle,
input[type='radio']:checked + label span.radio-toggle {
  -webkit-transition: background-color 0.4s linear;
     -moz-transition: background-color 0.4s linear;
       -o-transition: background-color 0.4s linear;
          transition: background-color 0.4s linear;
}
