header {
  padding-top: 30px;
}
img.logo {
  height: 40px;
  width: auto;
  float: left;
  display: block;
}
header h1 {
  font-size: 30px;
  float: left;
  padding: 0;
  margin: 0;
  line-height: 48.9px;
  height: 80px;
}
header h1::before {
  display: block;
  margin: 0 5px;
  content: "|";
  float: left;
}
header div.lead {
  float: none;
  clear: both;
  background: rgba(145, 179, 79, 1);
  padding: 19px;
  color: rgb(255, 255, 255);
  margin: 10px 0;
  font-weight: 700;
  margin-bottom: 30px;
}
header div.lead p.lead {
  color: rgb(77, 77, 77);
}
.list-group-item {
  border: none;
  border-bottom: 1px solid rgb(125, 125, 125);
  margin: 0;
  padding: 25px 0px 15px 0
}
