/*
Grey Text Hex = 262626
Green background & "select" status Hex Color: 9BB73B
Yellow Hex Color = EEBD1C
Grey color hex = cccccc
Dark Grey Hex = 262626
Red Text Hex Color = DA291C
Dark red button color Hex = 440d09
Yellow/Amber Text Hex Color = EEBD1C
*/
header {
  padding-top: 30px;
}
img.logo {
  height: 40px;
  width: auto;
  float: left;
  display: block;
}
header h1 {
  font-size: 30px;
  float: left;
  padding: 0;
  margin: 0;
  line-height: 48.9px;
  height: 80px;
}
header h1::before {
  display: block;
  margin: 0 5px;
  content: "|";
  float: left;
}
header div.lead {
  float: none;
  clear: both;
  background: #9bb73b; /* Green */
  padding: 19px;
  color: rgb(255, 255, 255);
  margin: 10px 0;
  font-weight: 700;
  margin-bottom: 30px;
}
header div.lead p.lead {
  color: #262626;
}
.list-group-item {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 25px 0 15px 0;
}
.question > label {
  display: flex;
  margin-right: 50px;
}
.question label {
  padding-left: 0;
}
.question > div label {
  text-transform: uppercase;
}
.question label .question-index {
  margin-right: 20px;
  font-weight: 700;
}
.question label .question-index::after {
  content: '.';
}
.question label .question-text {
  font-weight: 400;
}
input[type="radio"] {
  margin: 0 9px 0 30px;
}
